*.o
*.a
*.lo
*.la
.deps
.libs
Makefile
Makefile.in
config.h
config.status
stamp*
libtool
include/iconv.h*
libcharset/include/libcharset.h*
libcharset/include/localcharset.h*
POTFILES
gnulib/
autom4te.cache/
*.gperf
aclocal.m4
srcm4/
config.libpath
config.rpath
install-reloc
reloc-ldflags

configure
config.h.in
srclib/*
!srclib/Makefile.am
man/iconv.*.html
man/iconv_close.3.html
man/iconv_open.3.html
doc
build-aux/snippet
*.gmo