ChangeLog	merge=merge-changelog

###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
#* text=auto
*.sln       text=auto
*.vcxproj   text=auto
*.vcproj    text=auto